*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
/* vender prefix/ webkit-크롬,사파리 기준으로 적용.
각 브러우저의 접두어를 나타냄. 브라우저 별로 다른 형태로 되어있을 때- */
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul, li{list-style: none;}
html{scroll-behavior: smooth;}
input{outline: none;}