@import url('https://webfontworld.github.io/Montserrat/Montserrat.css');
*{font-family: 'Montserrat';}

/*공통*/
body{
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  color: #111;
}

.inner{
  width: 1300px;
  margin: auto;
}

:root{
  --point-color:#D9483F;
  --point-color2:#252B42;
  --point-color3:#737373;
  --bg-color:#D4D3D3;
}

.heading{text-align: center;}

.heading>h2{
  color: var(--point-color2);
  font-size: 2.667rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-top: 5.333rem;
}

.heading>h4{
  color: var(--point-color3);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}

.btn{
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 1rem;
  border-radius: 5px;
  background:black;
  transition: 0.3s;
}

/* header */

header{
  width: 100%;
  height: 50rem;
  background-image: url(../images/background.jpg);
  background-size: cover;
  color: white;
}

.header_top{
  width: 100%;
  height: 7.6rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo>h3{
  font-size: 1.6rem;
  font-weight: 700;
}

#list{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#list>li{
  position: relative;
  transition: 0.3s;
}

#list>li:hover>a{
  background: #252b42a9;
  color:var(--point-color)
}

#list>li>a{
  width: 8.667rem;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 1rem;
  transition: 0.3s;
}

.sub_menu{
  position: absolute;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255, 0.719);
  overflow: hidden;
  display: none;
}

.sub_menu>a{
  display: block;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}

.sub_menu>a:hover{
  background: var(--point-color2);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.line{
  width: 70%;
  height: 4px;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  bottom: 0;
  background-color: var(--point-color);
  position: absolute;
  display: none;
}

/* header_main*/

main{
  margin: 10.2rem auto 8.933rem;
  text-align: center;
}

.main_heading{
  width: 100%;
}

.main_heading>p{
  text-align: center;
  font-size: 3.867rem;
  font-weight: 800;
  line-height: 5.333rem;
}

.main_heading>h2{
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.main_btn{
  margin-top: 4.667rem;
}

.main_btn>button{
  padding: 0.5rem 2.5rem;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin-right: 1rem;
  transition: 0.3s;
}

.main_btn>button:hover{
  background: var(--point-color);
  border: 2px solid var(--point-color);
}

.main_btn>button:last-child{
  margin-right: 0;
}

/* tab */

.tab{
  width: 100%;
  height: 48.8rem;
  background: #F2F2F2;
  padding: 0.1px;
}

.tab_heading{
  margin-top: 9.133rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tab_heading>h2{
  color: var(--point-color2);
  font-size: 40px;
  font-weight: 700;
}

.tab_heading>h4{
  color: var(--point-color3);
  font-size: 14px;
  font-weight: 500;
}

.title{
  display: flex;
  position: relative;
  margin-top: 30px;
}

.title>a{
  width: 9.067rem;
  height: 3.533rem;
  text-align: center;
  line-height: 3.533rem;
  display: inline-block;
  margin: 0 -1px -1px 0;
  background: white;
  border:1px solid var(--point-color3);
  z-index: 5;
}

.title a.on{
  border-top: 6px solid var(--point-color);
  border-bottom: 1px solid transparent;
  font-weight: 600;
  color: var(--point-color);
}

.tab_desc{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content{
  width: 996px;
  height: 277px;
  text-align: center;
  background-color: white;
  border: 1px solid var(--point-color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tbox{
  height: 28px;
  display: flex;
  gap: 28px;
  margin-bottom: 5px;
  transition: 0.3s;
  border-bottom: 1px solid #fff;
}

.tbox:hover{
  border-bottom: 1px solid var(--point-color2);
}

.tbox:hover>p{
  color: var(--point-color2);
}

.tbox:hover>h6{
  color: var(--point-color);
}

.tbox:last-child{
  margin-bottom: 0;
}

.tbox>span{
  width: 62px;
  height: 21px;
  display: inline-block;
  text-align: center;
  color: var(--point-color3);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--bg-color);
  border-radius: 0.4rem;
}

.tbox:hover>span{
  background-color: var(--point-color);
  color: white;
  transition: 0.3s;
}

.tbox>p{
  width: 732px;
  font-size: 14px;
  font-weight: 500;
  color: var(--point-color3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbox>h6{
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
}

.tab_devel{
  width: 283px;
  height: 317px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--point-color3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.top{
  width: 100%;
  border-bottom: 1px solid var(--point-color3);
  padding-bottom: 1rem;
  text-align: center;
}

.top>img{
  margin: 0 auto 0.3rem;
}

.top>h3{
  color: var(--point-color2);
font-size: 16px;
font-weight: 700;
}

.bottom>li{
  margin-bottom: 0.5rem;
  color: var(--point-color3);
  font-size: 14px;
  font-weight: 600;
}

.bottom>li:last-child{
  margin-bottom: 0;
  color: var(--point-color2);
  font-size: 14px;
  font-weight: 700;
}

/* video */

.video{
  width: 100%;
  height: 1003px;
  background: #FAFAFA;
  padding: 0.1px;
}

/*
.video_img::before{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%);
  z-index: 1;
}
*/

video{
  width: 1305px;
  height: 542px;
  margin-top: 50px;
  position: relative;
  object-fit: cover;
  z-index: 10;
}

.video_img>img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.video_bg{
  width: 100vw;
  height: 407px;
  background: var(--point-color2);
  transform: translateY(-407px);
}

/* team */

.team{
  width: 100%;
  height: 732px;
  padding: 0.1px;
}

.team_content{
  width: 80%;
  margin: 80px auto 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card1,.card2, .card3{
  width: 328px;
  height: 373px;
  border: 1px solid var(--bg-color);
} 

.card_img{
  overflow: hidden;
}

.card_img>img{
  transition: 0.8s;

}

.card_img:hover>img{
  transform: scale(1.2);
}

.card_text{
  margin: 30px;
}

.card_text>h3{
  color: var(--point-color2);
  font-size: 16px;
  font-weight: 700;
}

.card_text>h4{
  color: var(--point-color3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.card_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 7px;
}

/* client */

.client{
  width: 100%;
  height: 591px;
  background: #F3F2F2;
  padding: 2px;
}

.review{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 4rem auto 0;
}

.reviewbox{
  width: 282px;
  height: 234px;
  background: white;
  padding: 2rem;
  border-radius: 5px;
  border: 0.3px solid var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewbox>h5{
 color: var(--point-color);
 font-size: 1.3srem;
}

.reviewbox>p{
  color: var(--point-color3);
  font-size: 13px;
  font-weight: 600;
}

.client_infor{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.client_desc{
  font-size: 14px;
  font-weight: 600;
}

.client_desc>h5{
  font-size: 14px;
  font-weight: 600;
  color: var(--point-color3);
}

/* Form */

.Form{
  width: 100%;
  height: 768px;
  padding: 0.1px;
  background:#D4D3D3;
  position: relative;
}

.form_inner{
  width: 1050px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_head{
  margin: 0 0 40px;
}

.form_head>h6{
  color: var(--point-color2);
  font-size: 16px;
  font-weight: 700;
}

.form_head>h3{
  color: var(--point-color2);
  font-size: 40px;
  font-weight: 700;
}

input{
  width: 285px;
  height: 50px;
  font-size: 14px;
  color: var(--point-color3);
  border-radius: 0.2rem;
  border: 0;
  padding: 1rem;
  margin-right: 1rem;
  transition: 0.3s;
}

input:focus{
    background-color: var(--point-color2);
    color: white;
}

select{
  width: 285px;
  height: 50px;
  font-size: 14px;
  color: var(--point-color3);
  border-radius: 0.2rem;
  border: 0;
  padding: 1rem;
  margin-right: 1rem;
}

select:focus{
  background-color: var(--point-color2);
  color: white;
}

.form_desc{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

textarea{
  outline: none;
  font-size: 14px;
  color: var(--point-color3);
  border-radius: 0.2rem;
  border: 0;
  padding: 1rem;
}

textarea:focus{
  background-color: var(--point-color2);
  color: white;
}

.form_desc .btn{
  width: 224px;
}

.form_desc .btn:hover{
  background: var(--point-color);  
}

/* banner */

.banner{
  width: 100%;
  height: 140px;
  color: var(--point-color);
}

.banner_box{
  width: 80%;
  height: 140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.banner_text>h3{
  color: var(--point-color);
  font-size: 24px;
  font-weight: 700;
}

.banner_text>h6{
  color: var(--point-color);
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.banner_box>button{
  width: 163px;
}

.banner_box>button:hover{
  background: var(--point-color); 
}

/* footer */

footer{
  width: 100%;
  height: 448px;
  background: var(--point-color2);
  color: white;
}

.footer_inner{
  width: 80%;
  margin: auto;
}

.footer_heading{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.176);
}

.footer_heading>h3{
  font-size: 24px;
  font-weight: 700;
}

.footer_icon{
  display: flex;
  gap: 1rem;
}

.footer_desc{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.infor{
  display: flex;
  gap: 53px;
}

.infor>ul{
  display: flex;
  flex-direction: column;
  gap: 01rem;
}

.infor>ul>li{
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 600;
}

.infor>ul>li:first-child{
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.infor_right>h3{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sum{
  width: 321px;
  height: 58px;
}

.sum>input{
  width: 321px;
  height: 58px;
}

.sum>button{
  width: 117px;
  height: 58px;
  background: #111;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
  position: relative;
  top: -58px;
  left: 204px;
  transition: 0.2s;
}

.sum>button:hover{
  background: var(--point-color);
}

.sum>input:focus{
  border: 1px solid rgb(255, 255, 255);
}

.infor_right>p{
  color: var(--bg-color);
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.5rem;
}


/* footer_bar */

.footer_bar{
  width: 100%;
  height: 74px;
  line-height: 74px;
  color: white;
  background: var(--point-color);
}

.footer_inner>p{
  font-size: 14px;
  font-weight: 600;
}


